{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_seo/manager_footer

    TODO describe template manager_footer

    Example context (json):
    {
    }
}}

<button class="seo-manager-footer__toggle" style="padding: 0;{{!
    }}width: 100%;{{!
    }}text-align: end;{{!
    }}background: none;{{!
    }}border: none;{{!
    }}cursor: pointer;">{{#str}}seotoggler, theme_seo{{/str}}</button>
<div class="seo-manager-footer__content" style="display:none;overflow-y: auto; max-height: 32rem;margin: 10px 0 0 0;">
    <h4>{{#str}} seoinfo, theme_seo {{/str}}</h4>
    {{#managable}}
    <div>{{{managerbutton}}}</div>
    <br>
    {{/managable}}
    <dl class="seo-info">
        <dt {{^public}}style="color: red;"{{/public}}>
            {{#str}} public, theme_seo {{/str}}:
        </dt>
        <dd {{^public}}style="color: red;"{{/public}}>
            {{#public}}{{#str}}yes{{/str}}{{/public}}
            {{^public}}{{#str}}no{{/str}}{{/public}}
        </dd>

        <dt {{^indexable}}style="color:red;"{{/indexable}}>
            {{#str}} indexable, theme_seo {{/str}}:
        </dt>
        <dd {{^indexable}}style="color:red;"{{/indexable}}>
            {{#indexable}}{{#str}} yes{{/str}}{{/indexable}}
            {{^indexable}}{{#str}}no{{/str}}{{/indexable}}
        </dd>

        <dt {{#redirected}}style="color:red;"{{/redirected}}>
            {{#str}} redirected, theme_seo {{/str}}:
        </dt>
        <dd {{#redirected}}style="color:red;"{{/redirected}}>
            {{#redirected}}{{#str}}yes{{/str}}{{/redirected}}
            {{^redirected}}{{#str}}no{{/str}}{{/redirected}}
        </dd>

        {{#load_info}}
            <h6>{{#str}}pageloadinginfo, theme_seo{{/str}}</h6>
            <ul>
                <li><b>{{#str}} loadtime, theme_seo {{/str}}:</b> {{total_time}} {{#str}}seconds{{/str}}</li>
                <li><b>{{#str}} pagesize, theme_seo {{/str}}:</b> {{size_download}} {{#str}}sizekb{{/str}}</li>
            </ul>
        {{/load_info}}

        <dt>
            {{#redirected}}{{#str}} redirectionurl, theme_seo {{/str}}{{/redirected}}
            {{^redirected}}{{#str}} pageurl, theme_seo{{/str}}{{/redirected}}:
        </dt>
        <dd>
            <a href="{{{url}}}">{{url}}</a><br>
            <a href="{{{previewurl}}}" target="_blank">{{#str}} guestpreviewpage, theme_seo {{/str}}</a>
        </dd>

        <dt>
            {{#str}} context, theme_seo {{/str}}:
        </dt>
        <dd>
            {{context}}
        </dd>
        <dt>
            {{#str}} contextid, theme_seo {{/str}}:
        </dt>
        <dd>
            {{contextid}}
        </dd>
        <dt>
            {{#str}} contextname, theme_seo {{/str}}:
        </dt>
        <dd>
            {{contextname}}
        </dd>
        <dt>
            {{#str}} contextinstanceid, theme_seo {{/str}}:
        </dt>
        <dd>
            {{instanceid}}
        </dd>
    </ul>
    <div class="seo-info-details">
        {{^crawlable}}
            {{#str}} nothingtodisplay {{/str}}
        {{/crawlable}}
    </div>
</div>
