{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_seo/seo-info

    Displaying SEO info for the current page.

    Example context (json):
    {
    }
}}
<ul class="seo-info-scores">
    <li><b>{{#str}} seoscore, theme_seo {{/str}}: </b>{{seoscore}}</li>
    <li><b>{{#str}} wordcount, theme_seo {{/str}}: </b>{{wordcount}}</li>
    <li><b>{{#str}} keywordseoscore, theme_seo {{/str}}: </b>{{keywordseoscore}}</li>
    <li><b>{{#str}} keyworddensity, theme_seo {{/str}}: </b>{{keyworddensity}}</li>
    <li><b>{{#str}} keywordfrequency, theme_seo {{/str}}: </b>{{keywordfrequency}}</li>
</ul>
<ul class="seo-info-meta">
    <li><b>{{#str}} pagetitle, theme_seo {{/str}}: </b>{{pagetitle}}</li>
    <li><b>{{#str}} metadescription, theme_seo {{/str}}: </b>{{metadescription}}</li>
    <li><b>{{#str}} metakeyword, theme_seo {{/str}}: </b>{{keyword}}</li>
    <li><b>{{#str}} metasubkeywords, theme_seo {{/str}}: </b>{{subkeywords}}</li>
</ul>
<ul class="seo-info-title">
    <li><b>{{#str}} wordcount, theme_seo {{/str}}: </b>{{titlewordcount}}</li>
    <li><b>{{#str}} keywordwithtitle, theme_seo {{/str}}: </b>
        <ul>
            <li><b>{{#str}} keyword, theme_seo {{/str}}: {{titlekeyword}}</b></li>
            <li>{{#str}} density, theme_seo {{/str}}: {{titlekeyworddensity}}</li>
            <li>{{#str}} position, theme_seo {{/str}}: {{titlekeywordposition}}</li>
        </ul>
    </li>
    <li><b>{{#str}} subkeywordswithtitle, theme_seo {{/str}}: </b>
        {{#subkeywordswithtitle}}
        <ul>
            <li><b>{{#str}} keyword, theme_seo {{/str}}: {{keyword}}</b></li>
            <li>{{#str}} density, theme_seo {{/str}}: {{density}}</li>
            <li>{{#str}} position, theme_seo {{/str}}: {{position}}</li>
        </ul>
        {{/subkeywordswithtitle}}
    </li>
</ul>
<ul class="seo-info-messages">
    <h6>{{#str}} warnings, theme_seo {{/str}}</h6>
    {{#warning}}
    <li class="alert alert-danger">{{.}}</li>
    {{/warning}}
    <h6>{{#str}} goodpoints, theme_seo {{/str}}</h6>
    {{#goodpoints}}
    <li class="alert alert-success">{{.}}</li>
    {{/goodpoints}}
    <h6>{{#str}} minorwarnings, theme_seo {{/str}}</h6>
    {{#minorwarnings}}
    <li class="alert alert-warning">{{.}}</li>
    {{/minorwarnings}}
</ul>
<ul class="seo-info-links">
    <li><b>{{#str}} totallinks, theme_seo {{/str}}: </b>{{totallinks}}</li>
    <h6>{{#str}} internalLinks, theme_seo {{/str}}</h6>
    <ul>
        <li><b>{{#str}} internallinks, theme_seo {{/str}}: </b>{{internallinkscount}}</li>
        <li><b>{{#str}} uniqueinternallinks, theme_seo {{/str}}: </b>{{uniqueinternallinkscount}}
            <ul>
                {{#uniqueinternallinks}}
                <li><a href="{{href}}">{{#text}}{{.}}{{/text}}{{^text}}{{href}}{{/text}}</a></li>
                {{/uniqueinternallinks}}
            </ul>
        </li>
        <li><b>{{#str}}duplicateinternallinks, theme_seo {{/str}}: </b>{{duplicateinternallinkscount}}
            <ul>
                {{#duplicateinternallinks}}
                <li><a href="{{href}}">{{#text}}{{.}}{{/text}}{{^text}}{{href}}{{/text}}</a></li>
                {{/duplicateinternallinks}}
            </ul>
        </li>
    </ul>
    <h6>{{#str}} externalLinks, theme_seo {{/str}}</h6>
    <ul>
        <li><b>{{#str}} externallinks, theme_seo {{/str}}: </b>{{externallinkscount}}</li>
        <li><b>{{#str}} uniqueexternallinks, theme_seo {{/str}}: </b>{{uniqueexternallinkscount}}
            <ul>
                {{#uniqueexternallinks}}
                <li><a href="{{href}}">{{#text}}{{.}}{{/text}}{{^text}}{{href}}{{/text}}</a></li>
                {{/uniqueexternallinks}}
            </ul>
        </li>
        <li><b>{{#str}} duplicateexternallinks, theme_seo {{/str}}: </b>{{duplicateexternallinkscount}}
            <ul>
                {{#duplicateexternallinks}}
                <li><a href="{{href}}">{{#text}}{{.}}{{/text}}{{^text}}{{href}}{{/text}}</a></li>
                {{/duplicateexternallinks}}
            </ul>
        </li>
    </ul>
</ul>